.scale-custom {
    --tw-scale-x: 1.2;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-custom-2 {
  --tw-scale-x: 1.2;
  --tw-scale-y: 1.2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.remove-models-detail {
  animation-name: animation_models_detail;
  animation-duration: 1.4s;
}
@keyframes animation_models_detail {
  0%   {left:0px;}
  100% {left:-2000px;}
}
.remove-menu {
  animation-name: animation_menu;
  animation-duration: 1.5s;
}
.tab-animate {
  animation-name: animation_tab;
  animation-duration: 1s;
}
.tab-animate-close {
  animation-name: animation_tab_close;
  animation-duration: 1.5s;
}
@keyframes animation_menu {
  0%   {top:0px;}
  100% {top:-2000px;}
}
@keyframes animation_tab {
  0%   {left: 100vw;}
  100% {left: 0;}
}
@keyframes animation_close {
  0%   {left: -100vw;}
  100% {left: 0;}
}

@font-face {
  font-family: genshinFont;
  src: url(zh-cn.ttf);
}