.scale-custom {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.08;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.remove-models-detail {
  animation-name: animation_models_detail;
  animation-duration: 1.4s;
}
@keyframes animation_models_detail {
  0%   {left:0px;}
  100% {left:-2000px;}
}
.remove-menu {
  animation-name: animation_menu;
  animation-duration: 1.5s;
}

@keyframes animation_menu {
  0%   {top:0px;}
  100% {top:-2000px;}
}